.month-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.view-month {
    font-size: 2rem;
}

.view-threemonths {
    font-size: 1.2rem;
}

.view-year {
    font-size: 1rem;
}